server:
  port: 8085

spring:
  application:
    name: api-gateway

  cloud:
    compatibility-verifier:
      enabled: false

    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true
      routes:
        - id: ms-auth
          uri: http://localhost:8086
          predicates:
            - Path=/auth/**

        - id: ms-usuarios
          uri: http://localhost:8081
          predicates:
            - Path=/api/usuarios/**

        - id: ms-productos
          uri: http://localhost:8082
          predicates:
            - Path=/api/productos/**

        - id: ms-ventas
          uri: http://localhost:8083
          predicates:
            - Path=/api/ventas/**

        - id: ms-pedidos
          uri: http://localhost:8084
          predicates:
            - Path=/api/pedidos/**
